.leoiFrame {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 324px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none; }
#spinner {
  position: fixed;
  bottom: 70px;
  left: 70px; }
#hideSlider {
  position: fixed;
  left: 0px;
  bottom: 324px;
  cursor: pointer;
  padding: 5px;
  background: blue;
  color: white;
  display: none; }